*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}


body{
    background-color:;
font-family: Verdana;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
margin: 0px;
font-family: 'Roboto', sans-serif;

}

main{
background-image: url("Fondi.jpg");
background: position 50% 50%;
height: 100vh;
}

.fondo-Gris{
    /*Esta unodad calcula eltamano en base a la pantalla del dispositivo. en este
    caso usa toda la altura (Heigth)*/
    height: 100Vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(124,124,124, .2);
}


.Titulo{
    text-transform:  uppercase;
    color: white;
    text-align: center;
}

.contenedor-formulario{
    position: relative;
    width: 50%;
    height: auto;
    left: 25%;
    background: white;
    padding: 30px; 
    top: 100px;

}
.contenido{
   width: 100%;
}
.contenido > article{
   display: inline-block;
 }

.info{
    width: 35%;
    padding: 10px;
  


}
.formulario{
    width: 50%;
   
}

form > *{
    display: block;
}

.caja-texto{
    width: 100%;
    padding: 2px;
    line-height: 1.3;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
}


/*Clases de utilidades*/

.Color-Principal-Fuentes{
    color: #16cfbb;
   

}

